.hero{
	position: relative;
}

.all_forms{
  margin-top: 75px;
}

#jumbotron{
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: transparent;
  color: white;
 
}

#lbl_gender{
  margin-left: 20px;
}

#show_page{
  outline: 1px solid  #000;
}

#show_page h1{
  margin-bottom: 20px;
}



h1 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  margin: 70px 0;
}

.annotations {
border-left: 1px solid #eaeaea;
margin-left: 100px;
margin-top: 65px;
}

#msg-container {
min-height: 260px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
