<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Betterfarm · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BetterFarm</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><%= link "Home", to: Routes.page_path(@conn, :index)%></li>
          <li><a href="#">Price trends</a></li>
          <li><a href="#">Market</a></li>
          <li><%= link "Connect", to: Routes.farmer_path(@conn, :index)%></li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= if @current_user do %>
          <li class = "dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link "Setting", to: Routes.farmer_path(@conn, :edit, @current_user.id)%></li>
              </ul>
          </li>
            <li><%= link "Log out", to: Routes.session_path(@conn, :delete, @current_user), method: "delete"%></li>
            <% else %>
             <li><a href="/farmers/new"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span>Log in</a></li>
            <% end %>
        </ul>
        
      </div>
      
    </nav>
 
     
    </header>

    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>